.topnav {
  position: sticky;
  top: 0;
  height: fit-content;
  color: #fffc01;
  background-color: black;
  padding-bottom: 20px;
  padding-top: 40px;
  border-radius: 180px;
  box-shadow: 0px 8px 16px 0px #0104FF;
  font-size: 21px;
  z-index: 1000; /* Ensures it appears above other content */
}



.navbar-title a{
  color: #fffc01;
  text-decoration: none;
  font-size: 40px;
}

.navbar-title a:hover {
  color: #fffc01;
}


              .nav-grid-container{
                grid-template-columns: auto auto;
                display: grid;
                place-content: center;
                place-items: center;
              }

              .nav-grid-container > div {
                display: square;
                height: fit-content;
                width: fit-content;
              }

              .nav-grid-container a{
                  color: #fffc01;
                  text-decoration: none;
                  padding: 15px;
                  margin-right: 20px;
                  margin-left: 20px
              }

              .nav-grid-container a:hover {
                  background-color: #0104FF;
                  color: white;
                  border-radius: 180px;
              }


.topnav_2 {
  position: sticky;
  top: 0;
  height: fit-content;
  color: #a20000;
  background-color: #a46f1c;
  padding-bottom: 20px;
  padding-top: 40px;
  border-radius: 180px;
  box-shadow: 0px 8px 16px 0px #1C51A4;
  font-size: 21px;
  z-index: 1000; /* Ensures it appears above other content */
}

.navbar-title_2 a{
  color: #a20000;
  text-decoration: none;
  font-size: 40px;
}

.navbar-title_2 a:hover {
  color: #a20000;
}

              .nav-grid-container_2 {
                grid-template-columns: auto auto;
                display: grid;
                place-content: center;
                place-items: center;
              }

              .nav-grid-container_2 > div {
                display: square;
                height: fit-content;
                width: fit-content
              }

              .nav-grid-container_2 a{
                color: #a20000;
                text-decoration: none;
                padding: 15px;
                margin-right: 20px;
                margin-left: 20px
              }

              .nav-grid-container_2 a:hover {
                  background-color: #1C51A4;
                  color: #00A2A2;
                  border-radius: 180px;
              }


      

/* CSS for styling the navigation bar */
      nav ul {
        position: sticky;
        top: 0;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: visible;
        background-color: #fffc01;
      }

      .dropbtn {
      background-color: #fffc01;
      color: black;
      padding: 5px;
      font-size: 14px;
      border: none;
    }
    
    .dropdown {
      position: relative;
      display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #fffc01;
      width: 210px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    /* Links inside the dropdown */
    .dropdown-content a {
      color: black;
      padding: 5px 5px;
      text-decoration: none;
      display: block;
    }
    
    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: black; color: #fffc01;}
    
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {display: block;}
    
    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {background-color: black;}
  
  span.underline { 
      color: white; 
      text-decoration: underline; 
  } 
  span.underline a { 
      color: white; 
      text-decoration: none; 
  }

  * {box-sizing: border-box;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 600px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

              .grid-container {
                grid-template-columns: repeat(auto-fit, minimax(200px, 1fr));
                display: grid;
                gap: 80px;
              }
              .grid-container > div {
                display: square;
              }


